---
import MainLayout from '../layouts/MainLayout.astro'
import Nav from '../components/Nav.astro'
import BlogIndex from '../components/BlogIndex.astro'
const keywords = 'one, two'
---

<MainLayout title="Hello" description="My description" keywords=`${keywords}` image="bla" url="jamesdallen.me">
	<Nav type="contact" />
	<div class="relative font-sans px-4 pt-20 space-y-8 text-center">
		This is a contact thing
	</div>
</MainLayout>
